
/* lighten paypal submit button on hover */
.psc-button:hover{
    background: lighten($page-checkout-btn, 10%) !important;
}


/* lighten form submit button on hover */
.wpcf7-submit:hover{
    background: lighten($page-checkout-btn, 10%) !important;
}



.slide_info .ReadMore{
  &:hover:after{
    animation: btn-up .5s linear forwards;
   }
}


// Homepage hero section info animation

// .slide_info{
//   h2{
//      animation: slideDown 2s 1 2s ease-in;
//   }
//   p{
//     animation: slideDown 2s 1 3s ease-in;
//   }
//   .ReadMore{
//     animation: slideDown 2s 1 4s ease-in;
//   }
// }



@keyframes slideDown{
  from{
    display: none;
    margin-top:-50px;
  }
  to{
    display:inline-block;
    margin-top:-10px;
  }
}

// keyframe for main page btn
@keyframes btn-up{
  0% {top:90px;}
  100% {top: 0px;}
}
