/*
 Theme Name:   Fitness Lite Child
 Theme URI:
 Description:  Fitness Lite Theme
 Author:       Eddie Solar
 Author URI:   http://eddiesolar.com
 Template:     fitness-lite
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  Fitness Lite Child
*/


// importing styles form bistro theme_head
@import url("../fitness-lite/style.css");


// *********************
// Config
// *********************


/* Google Fonts */

@import 'https://fonts.googleapis.com/css?family=Open+Sans|Roboto';


// variables

$site-Header-Font: 'Roboto', sans-serif;
$site-Faragraph-Font: 'Open Sans', sans-serif;


/*********
Base Styles
**********/
h1, h2, h3, h4, h5, h6{
  font-family: $site-Header-Font;
}

p{
  font-family: $site-Faragraph-Font;
}


/**********
Module Styles
**********/

.nivo-prevNav{
  display: none;
}

.nivo-directionNav{
  display: none;;
}

.nivo-controlNav{
  display: none;
}


.site-main {
  margin-right: auto;
  margin-left: auto;
  @media screen and (max-width: 1169px) and (min-width: 768px){
    width: 90%;
  }
}




/* Footer Styles */

.footer-wrapper{

}
