/*
 Theme Name:   Fitness Lite Child
 Theme URI:
 Description:  Fitness Lite Theme
 Author:       Eddie Solar
 Author URI:   http://eddiesolar.com
 Template:     Fitness Lite
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  Fitness Lite Child
*/


// importing styles form bistro theme_head
@import url("../fitness-lite/style.css");




// modules

.nivo-prevNav{
  display: none;
}

.nivo-controlNav{
  display: none;
}
