

#post-38 {
  width: 100%;
}

#psc_add_to_cart_button38{
  margin-bottom: 10px;
  width: 50%;
  color: white;
  background: $page-checkout-btn;
}

.woocommerce-page .container{
  margin-top: 50px;
}
